// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

.bg-purple.bg-darken-2 {
    background-color: #404E67 !important;
}

.bg-purple.bg-lighten-4 {
    background-color: #90CAF9 !important;
}

.card-title {
    color: #404E67;
}

.bg-light {
    background-color: #ffffff !important;
}
